/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #222831;
  }
  
  /* Navbar styles */
  a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #9aff8b;
  }
  
  /* Form styles */
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #222831; /* Primary color */
    border: 2px solid #7909ad; /* Orange outline */
    border-radius: .25rem;
    text-align: center;
  }
  
  /* Border styles */
  .border-bottom {
    border-bottom: 1px solid #7909ad; /* Orange outline */
  }
  
  /* Link styles */
  a {
    color: #9aff8b;
  }
  
  /* Primary button styles */
  .btn-primary {
    color: #fff;
    background-color: #222831; /* Primary color */
    border: none;
  }
  
  /* Active nav link styles */
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #222831; /* Primary color */
    border: none;
  }
  
  /* Sticky footer styles */
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
  }
  
  /* Card styles */
.card {
  background: #222831; /* Primary color */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 2px solid #7909ad; /* Original orange outline */
  transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.card:hover {
  box-shadow: 0 0 20px #7909ad, 0 0 40px #7909ad, 0 0 80px #7909ad; /* Neon glow effect */
}

.card-header {
  background: #222831; /* Primary color */
  border-radius: 16px !important;
}

.card-header:hover {
  cursor: pointer;
  background: #222831; /* Primary color */
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 0 20px #7909ad, 0 0 40px #7909ad, 0 0 80px #7909ad; /* Neon glow effect */
}
  
  /* Section styles */
  section {
    background-color: #222831; /* Primary color */
    border-radius: 16px;
    padding: 20px;
  }
  
  /* Search box styles */
  .search-box {
    width: 50%;
    max-width: 300px; /* Set a maximum width to prevent it from being too wide */
    margin: 50px auto 0; /* Simplify the margin property */
  }
  
  .search-box .search-bar {
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: #222831; /* Primary color */
    border: 2px solid #752997; /* Orange outline */
    border-radius: 16px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 20px;
    transition: 0.4s ease;
  }
  
  .search-box .search-bar:focus {
    background-color: #222831; /* Primary color */
  }
  
  .svgFlag {
    height: 40px;
    width: 75px;
    fill: #fff; /* If this is an SVG image, use "fill" property to change its color */
  }
  